body {
  font-family: 'Amatic SC', cursive; }

.row {
  max-width: 100%; }

h1 {
  line-height: 1em;
  text-align: center;
  font-size: 3em;
  font-family: 'Cookie', cursive; }
  @media (min-width: 550px) and (max-width: 1023px) {
    h1 {
      font-size: 4em; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 5em; } }

.container {
  width: 100%;
  text-align: center; }

.game-body {
  max-width: 12em;
  max-height: 12em;
  background-color: rgba(0, 128, 128, 0.3);
  height: auto;
  position: relative;
  margin: 2em auto; }
  @media (min-width: 550px) and (max-width: 1023px) {
    .game-body {
      max-width: 24em;
      max-height: 24em; } }
  @media (min-width: 1024px) {
    .game-body {
      max-width: 24em;
      max-height: 24em; } }

.player-message {
  border-bottom: 1px solid orange;
  margin-bottom: 1em; }
  @media (min-width: 1024px) {
    .player-message {
      min-height: 3em;
      margin-bottom: 2em; } }

.message-update {
  text-align: center;
  font-size: 1.5em;
  margin: .5em 1em;
  height: 3em; }
  @media (min-width: 550px) and (max-width: 1023px) {
    .message-update {
      font-size: 3em; } }
  @media (min-width: 1024px) {
    .message-update {
      font-size: 3em;
      height: auto; } }

.button.fancy {
  position: absolute;
  border-radius: 50%;
  background-color: orange;
  min-width: 8rem;
  font-size: 2em;
  -webkit-box-shadow: inset 0px 0px 60px 1px rgba(133, 97, 5, 0.6);
  -moz-box-shadow: inset 0px 0px 60px 1px rgba(133, 97, 5, 0.6);
  box-shadow: inset 0px 0px 60px 1px rgba(133, 97, 5, 0.6);
  left: 21%;
  top: 24%;
  z-index: 900;
  transition: all 300ms; }
  @media (min-width: 550px) and (max-width: 1023px) {
    .button.fancy {
      min-width: 11rem;
      font-size: 3em;
      left: 30%;
      top: 30%; } }
  @media (min-width: 1024px) {
    .button.fancy {
      min-width: 11rem;
      font-size: 3em;
      left: 30%;
      top: 30%; } }

.button.fancy:hover {
  transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 24px 3px rgba(133, 97, 5, 0.6);
  -moz-box-shadow: 0px 0px 24px 3px rgba(133, 97, 5, 0.6);
  box-shadow: 0px 0px 24px 3px rgba(133, 97, 5, 0.6); }

.button.clear {
  border-radius: 3px;
  background-color: orange;
  font-size: 2em;
  padding: 10px 20px; }

.score {
  text-align: center;
  font-size: 1.5em; }
  @media (min-width: 550px) and (max-width: 1023px) {
    .score {
      font-size: 3em; } }
  @media (min-width: 1024px) {
    .score {
      font-size: 3em; } }

.scoreboard {
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  background-color: white;
  padding: 1em; }

.color-box {
  width: 1em;
  height: 1em;
  background-color: orange;
  display: inline-block;
  margin-right: 10px; }

.box {
  width: 3em;
  height: 3em;
  background-color: transparent;
  border: 3px solid transparent;
  position: relative;
  padding: 0; }
  @media (min-width: 550px) and (max-width: 1023px) {
    .box {
      width: 6em;
      height: 6em; } }
  @media (min-width: 1024px) {
    .box {
      width: 6em;
      height: 6em; } }

.dot {
  height: 0.6em;
  width: 0.6em;
  position: absolute;
  background-color: orange;
  border-radius: 50%; }

.dotted {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px; }

.dot-top {
  top: -6px;
  left: -5px; }

.dot-top-alt {
  top: -6px;
  left: -6px; }

.dot-top-right {
  top: -5px;
  right: -6px; }

.dot-top-left {
  top: -5px;
  left: -5px; }

.dot-bottom-right {
  bottom: -10px;
  right: -5px; }

.dot-bottom-right-alt {
  bottom: -6px;
  right: -9px; }

.dot-bottom-right-last {
  bottom: -6px;
  right: -5px; }

.dot-bottom-left {
  bottom: -5px;
  left: -5px; }

.columns, .column {
  float: left; }

.hover-left {
  border-left: 3px solid orange; }

.hover-right {
  border-right: 3px solid orange; }

.hover-right:hover {
  transform: scaleY(1); }

.hover-bottom {
  border-bottom: 3px solid orange; }

.hover-top {
  border-top: 3px solid orange; }

.hover-transparent {
  border-color: transparent; }

/*# sourceMappingURL=styles.css.map */
