$box-width: 100px;
$box-height: 100px;
$border-color: transparent;
$border-width: 2px;
$box-color: transparent;
$border: $border-width solid $border-color;
$body-width: ($box-width)*4;
$border-hover-color: orange;
$transparent: transparent;

.container {
  width: 100%;
  margin: 4em 0;
  padding: 3em 0;
  background-color: lightblue;
}

.game-body {
  width: $body-width;
  background-color: teal;
  height: auto;
}

//BOXES

.box {
width: $box-width;
height: $box-height;
background-color: $box-color;
border: $border-width solid $transparent;
position: relative;
}

//DOTS

.dot {
  height: 10px;
  width: 10px;
  position: absolute;
  background-color: orange;
  border-radius: 50%;
}

.dot-top {
  top: -5px;
  left: -5px;
}

.dot-top-right{
  top: -5px;
  right: -5px;
}

.dot-top-left {
  top: -5px;
  left: -5px;
}

.dot-bottom-right {
  bottom: -5px;
  right: -5px;
}

.dot-bottom-left {
  bottom: -5px;
  left: -5px;
}

.columns, .column {
  float: left;
}

//EVENT CLASSES

.hover-left {
  border-left: $border-width solid $border-hover-color;
}

.hover-right {
  border-right: $border-width solid $border-hover-color;
}

.hover-bottom {
  border-bottom: $border-width solid $border-hover-color;
}

.hover-top {
  border-top: $border-width solid $border-hover-color;
}

.hover-transparent {
  border-color: $transparent;
}














