$box-width: 6em;
$box-height: $box-width;
$border-color: transparent;
$border-width: 3px;
$box-color: transparent;
$border: $border-width solid $border-color;
$body-width: $box-width * 4;
$color: #0AEBB0;
$transparent: transparent;
$dot-size: $box-width / 10;

$tablet-width: 550px;
$desktop-width: 1024px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

body {
    //font-family: 'Cookie', cursive;
    font-family: 'Amatic SC', cursive;
}

.row {
    max-width: 100%;
}

h1 {
    line-height: 1em;
    text-align: center;
    font-size: 3em;
    font-family: 'Cookie', cursive;

    @include tablet {
        font-size: 4em;
    }

    @include desktop {
        font-size: 5em;
    }
}

.container {
    width: 100%;
    text-align: center;
}

.game-body {
    max-width: $body-width / 1.2;
    position: relative;
    margin: 1em auto;

    @include tablet {
        max-width: $body-width;
        max-height: $body-width;
        margin: 2em auto;
    }

    @include desktop {
        max-width: $body-width;
        max-height: $body-width;
        margin: 2em auto;
    }
}

.player-message {
    border-bottom: 1px solid $color;
    margin-bottom: 1em;

    @include tablet {}


    @include desktop {
        min-height: 3em;
        margin-bottom: 2em;
    }
}

.message-update {
    text-align: center;
    font-size: 1.5em;
    margin: .5em 1em;
    height: 3em;

    @include tablet {
        font-size: 3em;
    }


    @include desktop {
        font-size: 3em;
        height: auto;
    }
}

//Start Button

.button.fancy {
    position: absolute;
    border-radius: 50%;
    background-color: $color;
    min-width: 8rem;
    font-size: 2em;
    left: 31%;
    top: 31%;
    z-index: 900;
    color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .3);

    @include tablet {
        min-width: 11rem;
        font-size: 3em;
        left: 27.5%;
        top: 27.5%;
    }


    @include desktop {
        min-width: 11rem;
        font-size: 3em;
        left: 27.5%;
        top: 27.5%;
    }
}

.button.fancy:hover {
    transform: scale(1.2);

}

.button.clear {
    font-size: 1.2em;
    border-radius: 3px;
    background-color: $color;
    padding: 5px 10px;
    color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .3);

    @include tablet {
        border-radius: 3px;
        background-color: $color;
        font-size: 2em;
        padding: 10px 20px;
    }

    @include desktop {
        border-radius: 3px;
        background-color: $color;
        font-size: 2em;
        padding: 10px 20px;
    }
}

//Text and Score

.score {
    text-align: center;
    font-size: 1.5em;

    @include tablet {
        font-size: 3em;
    }


    @include desktop {
        font-size: 3em;
    }
}

.scoreboard {
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
    background-color: white;
    padding: 1em;
}

.color-box {
    width: 1em;
    height: 1em;
    background-color: $color;
    display: inline-block;
    margin-right: 10px;
}

//BOXES

.box {
    width: $box-width / 1.2;
    height: $box-height / 1.2;
    background-color: $box-color;
    border: $border-width solid $transparent;
    position: relative;
    padding: 0;

    @include tablet {
        width: $box-width;
        height: $box-height;
    }


    @include desktop {
        width: $box-width;
        height: $box-height;
    }

    .winner-name {
      color: white;
      padding-top: 10px;
    }
}

//DOTS

.dot {
    height: $dot-size;
    width: $dot-size;
    position: absolute;
    background-color: $color;
    border-radius: 50%;
}

.dotted {
    height: 5px;
    width: 5px;
    background-color: $color;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;

    @include tablet {
        height: 10px;
        width: 10px;
    }

    @include desktop {
        height: 10px;
        width: 10px;
    }
}

.dot-top {
    top: -6px;
    left: -5px;
}

.dot-top-alt {
    top: -6px;
    left: -6px;
}

.dot-top-right {
    top: -5px;
    right: -6px;
}

.dot-top-left {
    top: -5px;
    left: -5px;
}

.dot-bottom-right {
    bottom: -10px;
    right: -5px;
}

.dot-bottom-right-alt {
    bottom: -6px;
    right: -9px;
}

.dot-bottom-right-last {
    bottom: -6px;
    right: -5px;
}

.dot-bottom-left {
    bottom: -5px;
    left: -5px;
}

.columns, .column {
    float: left;
}

//EVENT CLASSES

.hover-left {
    border-left: $border-width solid $color;
}

.hover-right {
    border-right: $border-width solid $color;
}

.hover-right:hover {
    transform: scaleY(1);
}

.hover-bottom {
    border-bottom: $border-width solid $color;
}

.hover-top {
    border-top: $border-width solid $color;
}

.hover-transparent {
    border-color: $transparent;
}
